* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(212, 212, 212);
  color: rgb(37, 37, 37);
  font-family: sans-serif;
  letter-spacing: 1px;
}

p {
  margin: 30px auto 70px;
  font-size: 28px;
  width: fit-content;
  text-align: center;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(200, 200, 200);
}

p span {
  font-size: 24px;
  color: rgb(0, 87, 187);
  font-weight: bold;
  letter-spacing: 0;
}

a {
  display: block;
  margin: auto;
  width: 90%;
}

img {
  display: block;
  margin: auto;
  height: 700px;
  transition: 0.3s;
}

img:hover {
  box-shadow: 0 0 50px rgb(155, 155, 155);
  transform: scale(1.02);
}